<div class="column">
    <div class="title">
        <div class ="date"><%= local_assigns[:date] %></div>
        <div class ="details"><%= local_assigns[:details] %></div>
        <div class ="location"><%= local_assigns[:location] %></div>
    </div>
</div>